* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Verdana, sans-serif;
}
.section1 {
    border: solid orange;
    border-width: thick;
    background-color: #1F2937;
}

.header, .herosub {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color:#E5E7EB;
}

.heromain {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
}
